@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Inter");

html,
body {
  padding: 0;
  margin: 10px;
  background-color: #2a353e;
  font-weight: 400;
  font-family: Livvic, Inter, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #4bdbea;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

textbtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
h1 {
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-family: Livvic;
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-family: Livvic;
  font-size: 64px;
  font-weight: 700;
  vertical-align: middle;
  padding-inline: 2px;
  color: #2a353e;
  letter-spacing: 5px;
  text-transform: uppercase;
}
h4 {
  font-family: Livvic;
  font-size: 24px;
  font-weight: 600;
}
p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
}
p2 {
  font-family: Livvic;
  font-size: 10px;
  font-weight: 300;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 12px;
  }
}

@layer components {
  /* Button Styles */
  .small-btn-green {
    @apply text-center px-3 py-2 cursor-pointer rounded-xl leading-5 text-xs font-semibold text-white bg-palette-green focus:outline-none focus:ring-2 focus:ring-palette-green appearance-none transition;
  }
  .action-btn {
    @apply text-palette-green border shadow-lg hover:shadow-xl text-sm border-palette-green text-center mb-5 mt-4 rounded py-1.5 px-4 cursor-pointer hover:bg-palette-green hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-green-300 ring-opacity-20 appearance-none;
  }
  .btn-yellow-selected {
    @apply text-palette-yellow text-left uppercase text-xs font-semibold w-full py-3 px-2 cursor-pointer focus:outline-none transition-colors hover:bg-palette-yellow hover:bg-opacity-10 duration-300 ease-in;
  }
  .btn-yellow-deselected {
    @apply text-palette-yellow text-left text-opacity-50 uppercase whitespace-nowrap text-xs font-normal hover:shadow-xl w-full py-3 px-2 cursor-pointer hover:bg-palette-yellow hover:bg-opacity-10 focus:outline-none transition-colors duration-300 ease-in;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Livvic";
  src: url("../public/fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
