
.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: auto;
    max-width: 672px;
    height: 80%;
    margin-inline: auto;
    border-radius: 0.375rem;
    border-color: #374151;
    border-width: 1px;
    background-color: #2A353E;

    ::-webkit-scrollbar {
        width: 0.3em;
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
     
    ::-webkit-scrollbar-thumb {
      background-color: rgb(235, 47, 160,.7);
      outline: 1px solid rgb(235, 47, 160,.7);
      border-radius: 10px;
    }
}